<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Content:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if blogposts.length}}
    <div class="col-md-6 posts-list">
      <h3>Your Posts:</h3>

      {{#each blogposts as |blogPost|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/blog/{{blogPost.id}}">{{blogPost.title}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{blogPost.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="/js/addBlogPost.js"></script>