<h2>Sign Up</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup" name="name" />
  </div>
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="email" id="email-signup" name="email" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input
      class="form-input"
      type="password"
      id="password-signup"
      name="password"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>